<form action="<%= url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment[commentable_id]" value="<%= id %>">
  <input type="hidden" name="comment[commentable_type]" value="<%= type %>">

  <label>Comment</label>
  <textarea name="comment[content]"></textarea>

  <input type="submit" name="Submit">
</form>
