<form action="<%= url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user[email]">email</label>
  <input type ="text" name="user[email]">
  <p>
  <label for="user[password]">password</label>
  <input type ="password" name="user[password]">
  <p>
  <p>
  <input type="submit" name="Submit">
</form>
